<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="JoyConToPC.Service.WCF.JoyConDriverConnector"
               behaviorConfiguration="JoyConDriverConnectorBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:19557/JoyConDriver/Connector" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="JoyConDriverConnectorBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>